<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <!--tipjoy:al3x-->
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title>Simplenote Backup</title>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/blueprint/forms.css" type="text/css" media="screen, projection">
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container prepend-top">
      <div class="span-24 last" id="header">
        <h1>Unofficial <img src="/images/title_simplenote.png"> Backup</h1>
      </div>
      <div class="span-24 last" id="subheader">
        <h3 class="alt">
          Simple backup and export for <a href="http://simplenoteapp.com/">Simplenote</a>.
        </h3>
      </div>
      <hr />
      <div class="span-24 last">
      {% block content %}{% endblock %}
      </div>
      <div class="span-24 last small quiet" style="margin-top: 2em;">
        &copy; 2009 <a href="http://al3x.net/">Alex Payne</a>. Not affiliated with <a href="http://www.cloud-factory.com/">Cloud Factory, Inc.</a>, makers of <a href="http://simplenoteapp.com/">Simplenote</a>.
    	</div>
    </div>
  </body>
</html>